body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1{
  color: pink;
  font-size: 6.5rem;
}
.btn{
  background-color: orange;
}
body {
  background-color: lightblue;
}
